body {
  overflow-x: hidden;
}
.title-champ {
  width: 80%;
}
.title-champ .container-bc-champ-selected {
  display: flex;
  justify-content: start;
  width: 100vw;
}
.container-title-champ {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100vw;
}
.title-champ .bc-champ-selected {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.title-champ .bc-champ-selected .font-title {
  font-size: 100px;
}
.name-caption-champ .font-sub-title {
  font-size: 50px;
  display: block;
  padding-bottom: 1em;
}
.container-carrosel {
  margin-top: 45%;
}
.carrosel-skins {
  width: 830px;
  height: 300px;
}
.img-carrosel {
  width: 280px;
  height: 100%;
  transition: all 0.4s;
  animation-timing-function: ease;
}
.img-carrosel:hover {
  transform: scale(1.2);
}
.container-title-champ .img-champ {
  width: 100%;
  height: 100%;
}
.name-caption-champ {
  margin-bottom: 3em;
  border-top: 1px solid #ffd026;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #ffd026;
  border-radius: 15%;
  background: transparent;
}
.animate .info-champ {
  display: flex;
  justify-content: space-around;
}
.info-champ .blurb {
  padding: 0em 1em;
}
.info-champ .sinopse {
  animation: efeit 5s ease alternate infinite;
  background: linear-gradient(
      270deg,
      #59388e 0,
      #312266 25%,
      #09093c 50%,
      #000018 75%,
      #000000 100%
    )
    no-repeat;
  background-size: 300% 300%;
  border: 2px double blueviolet;
  height: 300px;
  width: 33%;
  margin-top: 45%;
}
.info-champ .sinopse:hover {
  background-color: #000913;
}
@keyframes efeit {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
.info-champ .img-champs {
  width: 500px;
  height: 280px;
  margin-top: 1em;
  transition: 0.6s;
  animation-timing-function: ease;
}
.info-champ .img-champs:hover {
  box-shadow: 1px 5px 40px 0px #616296;
  transform: scale(1.1);
}

.stats {
}

.animate {
  background-color: #000913;
  background-repeat: repeat-x;
  animation-name: slide;
  transform: translateY(-100px);
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  /* animation: slide 3s forwards;  */
}

@keyframes slide {
  from {
  }
  to {
    transform: translateY(0);
  }
}
