body {
  overflow-x: hidden;
}
.title-champ {
  width: 90%;
}
.title-champ .container-bc-champ-selected {
  display: flex;
  justify-content: start;
  width: 100vw;
}
.container-title-champ {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100vw;
}
.title-champ .bc-champ-selected {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.name-caption-champ {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 0.5em;
  margin-bottom: 3em;
}

.name-caption-champ .font-title {
  font-size: 180px;
  color: #fff;
}
.name-caption-champ .font-sub-title {
  font-size: 40px;
  color: #fff;
  display: block;
  padding-bottom: 0.5em;
  color: #fff;
  margin-bottom: 3em;
}
.container-carrosel {
  margin-top: 45%;
}
.carrosel-skins {
  width: 830px;
  height: 300px;
}
.img-carrosel {
  width: 280px;
  height: 100%;
  transition: all 0.4s;
  animation-timing-function: ease;
}
.img-carrosel:hover {
  transform: scale(1.2);
}
.container-title-champ .img-champ {
  width: 100%;
  height: 100%;
}

.animate .info-champ {
  display: flex;
  justify-content: space-around;
}
.info-champ .blurb {
  padding: 0em 1em;
}

/* .sinopse {
  animation: efeit 5s ease alternate infinite;
  background: linear-gradient(
      270deg,
      #59388e 0,
      #312266 25%,
      #09093c 50%,
      #000018 75%,
      #000000 100%
    )
    no-repeat;
  background-size: 300% 300%;
  border: 2px double blueviolet;
  height: 100%;
  min-height: 300px;
  width: 33%;
}
.sinopse:hover {
  background-color: #000913;
}
*/

.info-champ .img-champs {
  width: 500px;
  height: 280px;
  margin-top: 1em;
  transition: 0.6s;
  animation-timing-function: ease;
}
.info-champ .img-champs:hover {
  box-shadow: 1px 5px 40px 0px #616296;
  transform: scale(1.1);
}
.container-img-champ-info {
  margin-top: 7%;
  margin-left: 15%;
  width: 500px;
  height: 250px;
}
.img-champ-info {
  width: 100%;
  height: 100%;
  transition: 0.6s;
  animation-timing-function: ease;
}
.img-champ-info:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.stats {
}

.animate {
  background-color: #000913;
  background-repeat: repeat-x;
  animation-name: slide;
  transform: translateY(-100px);
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  /* animation: slide 3s forwards;  */
}

@keyframes slide {
  from {
  }
  to {
    transform: translateY(0);
  }
}
.container-skills {
  /* transition: 0.6s;
  animation: efeit-skills 5s ease alternate infinite;
  background: linear-gradient(
      5deg,
      #1a71a3 0,
      #183c57 25%,
      #000913 50%,
      #000000 75%,
      #000000 100%
    )
    no-repeat;
  background-size: 300% 300%; */
  /* border: 1px solid blue; */

  margin-top: 3em;
  width: 10%;
}

.container-info .swiper-skills {
  width: 30%;
}
.border-bottom-skills {
  border: 1px solid #8c8377;
  width: 100%;
}

.container-skills:hover {
  transform: scale(1);
  cursor: pointer;
}

@keyframes efeit-skills {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 100%;
  }
}

.container-info {
  display: flex;
  align-items: center;
  margin-top: 110vh;
}
.container-skills .img-skills {
  width: 60%;
  height: 30%;
  margin-left: 0.3em;
  margin-bottom: 3em;
  border: 1px solid #22284a;
  transition: 0.6s;
  animation-timing-function: ease;
}
.description .title-skill {
  color: gold;
}
.container-skills .img-skills:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.container-description {
  display: flex;
  width: 30%;
}
.container-description .description {
  font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
  text-align: start;
  padding-left: 0.5em;
  height: 100%;
}
.animate .title-skills {
  width: 93%;
  margin-top: 20%;
  font-size: 30px;
  text-align: start;
  background-color: #b9c8ff;
  color: black;
}
.button-select-champ {
  animation: effect-button-select-champ 1s ease-in-out alternate infinite;
  vertical-align: middle;
  width: 15%;
  padding: 0.5em;
  margin-bottom: 3em;
  box-shadow: inset 0 0 0em #f3eae8, 0 0 1em #908eee;
  color: gold;
}
@keyframes effect-button-select-champ {
  to {
    transform: translateY(10px);
  }
}
@media (max-width: 1440px) {
  .animate .title-skills {
    width: 85%;
    margin-top: 20%;
    margin-left: 1.7em;
    font-size: 30px;
    text-align: start;
    background-color: #b9c8ff;
    color: black;
  }
}
@media (max-width: 1024px) {
  .animate .title-skills {
    width: 92%;
    margin-top: 20%;
    margin-left: 0;
    font-size: 30px;
    text-align: start;
    background-color: #b9c8ff;
    color: black;
  }
}

@media (max-width: 975px) {
  .container-title-champ {
    display: flex;
    justify-content: start;
    height: 10vh;
    width: 100vw;
  }
  .name-caption-champ {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

    width: 18.5em;
    margin-right: 2em;
  }

  .container-title-subtitle-champ {
    margin-left: 1.5em;
    height: 100vh;
  }
  .font-title-mobile {
    margin-top: auto;
    font-size: 60px;
    color: #fff;
  }
  .font-sub-title-mobile {
    margin-top: 10em;
    font-size: 30px;
    color: #fff;
    display: block;
    padding-bottom: 0.5em;
  }
  .animate .title-skills {
    margin-left: 0.7em;
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 2em;
    font-size: 30px;
    background-color: #b9c8ff;
    color: black;
  }
  .container-description {
    display: flex;
    width: 70%;
  }

  .container-img-champ-info {
    display: none;
  }
  .container-skills {
    margin-top: 15em;
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .container-skills .img-skills {
    width: 70px;
    height: 80px;
    margin-bottom: 3em;
    border: 1px solid #22284a;
    transition: 0.6s;
    animation-timing-function: ease;
  }

  .container-info {
    display: flex;
    align-items: center;
    margin-top: 80vh;
  }

  .animate {
    background-color: #000913;
    background-repeat: repeat-x;
    animation-name: slide;
    transform: translateY(-100px);
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    overflow: hidden;

    /* animation: slide 3s forwards;  */
  }
}
@media (max-width: 768px) {
  .animate .title-skills {
    width: 92%;
    margin-top: 20%;
    font-size: 30px;
    text-align: start;
    background-color: #b9c8ff;
    color: black;
  }

  .container-info {
    display: flex;
    align-items: center;
    margin-top: 85vh;
  }
}
@media (max-width: 480px) {
  .button-select-champ {
    animation: effect-button-select-champ 1s ease-in-out alternate infinite;
    vertical-align: middle;
    width: 50%;
    padding: 0.5em;
    margin-bottom: 3em;
    box-shadow: inset 0 0 0em #f3eae8, 0 0 1em #908eee;
    color: gold;
  }
}
@media (max-width: 425px) {
  .animate .title-skills {
    width: 89%;
    margin-top: 20%;
    font-size: 30px;
    text-align: start;
    background-color: #b9c8ff;
    color: black;
  }
}
@media (max-width: 375px) {
  .container-skills .img-skills {
    width: 60px;
    height: 70px;
    margin-bottom: 3em;
    border: 1px solid #22284a;
    transition: 0.6s;
    animation-timing-function: ease;
  }
  .container-description {
    display: block;
    width: 70%;
  }
  .animate .title-skills {
    width: 86%;
    margin-top: 20%;
    font-size: 30px;
    text-align: start;
    background-color: #b9c8ff;
    color: black;
  }
}
@media (max-width: 320px) {
  .animate .title-skills {
    width: 84%;
    margin-top: 20%;
    font-size: 30px;
    text-align: start;
    background-color: #b9c8ff;
    color: black;
  }
}
