.container-stats {
  border: 3px double #913359;
  margin-top: 3em;
  text-align: start;
  width: 40%;
  height: 100%;
}

.stats .list-atributte-champ {
  display: flex;
}
.list-atributte-champ .list {
  list-style-type: none;
}
.list-atributte-champ .list .atributte {
  padding-bottom: 0.5em;
}
.indic {
  animation: effect-arrow 1s ease-in-out alternate infinite;
  vertical-align: middle;
  padding-right: 0.5em;
}
.title-stats {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-top: 2em;
  font-size: 30px;
  background-color: #b9c8ff;
  color: black;
}
@keyframes effect-arrow {
  to {
    transform: translateX(5px);
  }
}
.color-stats {
  color: gold;
}

@media (max-width: 1024px) {
  .stats .list-atributte-champ {
    display: block;
  }
  .container-stats {
    border: 3px double #913359;
    margin-top: 3em;
    margin-bottom: 4em;
    text-align: start;
    width: 100%;
    height: 100%;
  }
}
@media (width: 1024px) {
  .stats .list-atributte-champ {
    display: flex;
  }
  .container-stats {
    border: 3px double #913359;
    margin-top: 3em;
    margin-bottom: 4em;
    text-align: start;
    width: 60%;
    height: 100%;
  }
}
